mixin createPostForm(userLoggedIn)
    .postForContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What's Happening?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post 